{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Gestion et relation Client</h1>
        <hr class="my-4">
    </div>
    <div class="container">
        <div class="container mt-4">
            <h1>Add un nouveau client</h1>
            {{ include( 'template.form.client.html.twig',{button: 'Créer'} )}}
        </div>
    </div>
{% endblock %}