{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Gestion des Departements</h1>
        <hr class="my-4">
    </div>
    <div class="container">
        <div class="container mt-4">
            <h1>Editer les information du  Departement</h1>
            {{ include( 'template.form.departement.html.twig',{form:form, button: 'editer'} )}}
        </div>
    </div>
{% endblock %}